In [5]:
# Dependencies
from bs4 import BeautifulSoup, NavigableString, Tag
import requests
import pandas as pd
from sqlalchemy import create_engine
# We also need to do a pip install geopy before running this code
from geopy.geocoders import Nominatim

In [6]:
# URL of page to be scraped
url = 'https://twistedsifter.com/2014/02/50-amazing-finds-on-google-earth/'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

def conversion(old):
    direction = {'N':1, 'S':-1, 'E': 1, 'W':-1}
    new = old.replace(u'°',' ').replace('\'',' ').replace('"',' ')
    new = new.split()
    new_dir = new.pop()
    new.extend([0,0,0])
    return (int(new[0])+int(new[1])/60.0+int(new[2])/3600.0) * direction[new_dir]

In [7]:
final_dataframe = []
# Retrieve the title divs
results = soup.find_all('div', align='center')
results

countries = ['USA', 'Canada', 'Northern Canada', 'Egypt', 'Tanzania', 'Australia', 'Austrlia', 'Argentina', 'China', 'Chile', 'UK', \
             'United Kingdom', 'Cyprus', 'The Netherlands', 'Hong Kong', 'Germany', 'Russia', 'France', 'Iraq', \
             'Niger', 'southern Ténéré of Niger', 'New Caledonia', 'Tanzania', 'Sudan', 'Japan']

images = []
# Retrieve the paragraphs
img_results = soup.find_all('p')
for img in img_results:
    # Retrieve the images of each paragraph
    img = img.find('img', class_='aligncenter')
    if img != None:
        #print(img['data-lazy-src'])
        images.append(img['data-lazy-src'])
        
counter = 0
for result in results:
    # scrape the article header 
    header = result.find('h3')
    if header != None:
        #print(header)
        header1 = header.text.split('/br')[0].split('\n')[0]
        if len(header.text.split('/br')[0].split('\n')) == 2:
            coordinates = ''
            location = header.text.split('/br')[0].split('\n')[1].split(', ')
        if len(header.text.split('/br')[0].split('\n')) >= 3:
            if len(header.text.split('/br')[0].split('\n')) == 3:
                coordinates = header.text.split('/br')[0].split('\n')[1]
                location = header.text.split('/br')[0].split('\n')[2].split(', ')
            if len(header.text.split('/br')[0].split('\n')) > 3:
                coordinates = header.text.split('/br')[0].split('\n')[2]
                location = header.text.split('/br')[0].split('\n')[3].split(', ')
        #print(location[len(location)-1])
        if location[len(location)-1].strip() in countries:
            country = location[len(location)-1].strip()
        else:
            country = 'USA'
        if country == 'Austrlia':
            country = 'Australia'
        if country == 'UK':
            country = 'United Kingdom'
        if country == 'southern Ténéré of Niger':
            country = 'Niger'
        if country == 'The Netherlands':
            country = 'Netherlands'
        if country == 'Northern Canada':
            country = 'Canada'
        
        if coordinates == '':
            location = geolocator.geocode(location[0] + ',' + location [1])
            coordinates = str(location.latitude) + ', ' + str(location.longitude)
        if header1 == '1. Airplane Boneyard':
            coordinates = "32°08’59.96″ N, 110°50’09.03″W"
        if '°' in coordinates:
            coordinates = coordinates.replace(u'’', "'")
            coordinates = coordinates.replace(u'″', '"')
            coordinates = coordinates.replace("N ", "N, ")
            coordinates = coordinates.replace('" N', '"N')
            coordinates = coordinates.replace("° N", "°N")
            coordinates = coordinates.replace("S ", "S, ")
            coordinates = coordinates.replace('" S', '"S')
            coordinates = coordinates.replace("° S", "°S")
            coordinates = coordinates.replace('" W', '"W')
            coordinates = coordinates.replace("° W", "°W")
            coordinates = coordinates.replace('" E', '"E')
            coordinates = coordinates.replace("° E", "°E")

            half_string = coordinates.find(",")
            if '"' in coordinates:
                start = coordinates.find(".", 0, half_string)
                stop = coordinates.find('"', 0, half_string)
                coordinates = coordinates[0: start:] + coordinates[stop::]
            
                start = coordinates.find(".", half_string, len(coordinates)-1)
                stop = coordinates.find('"', half_string, len(coordinates)-1)
                coordinates = coordinates[0: start:] + coordinates[stop::]
            else:
                start = coordinates.find(".", 0, half_string)
                stop = coordinates.find('°', 0, half_string)
                coordinates = coordinates[0: start:] + coordinates[stop::]
            
                start = coordinates.find(".", half_string, len(coordinates)-1)
                stop = coordinates.find('°', half_string, len(coordinates)-1)
                coordinates = coordinates[0: start:] + coordinates[stop::]
            
            lat, lon = coordinates.split(', ')
            coordinates = str(conversion(lat)) + ", " + str(conversion(lon))
        
        post = {
                'description': header1,
                'country': country,
                'latitude': coordinates.split(',')[0],
                'longitude': coordinates.split(',')[1],
                'image': images[counter],
                'type': 'Amazing'
               }
            
        final_dataframe.append(post)
        
        #print(images[counter])
        #print(header1)
        #print(coordinates)
        #print(country)
        
        counter += 1

final_dataframe
final_df = pd.DataFrame(final_dataframe)

# Need to replace the name of the sqlite file
engine = create_engine('sqlite:///paranormal_activity.db')
# Need to replace the table name
final_df.to_sql(name='paranormal', con=engine, if_exists='append', index=False)
# Need to read from right table to verify insertion of data
pd.read_sql_query('select * from paranormal', con=engine).head()

OperationalError: (sqlite3.OperationalError) table paranormal has no column named image
[SQL: INSERT INTO paranormal (description, country, latitude, longitude, image, type) VALUES (?, ?, ?, ?, ?, ?)]
[parameters: (('1. Airplane Boneyard', 'USA', '32.14972222222222', ' -110.83583333333333', 'https://twistedsifter.com/wp-content/uploads/2014/02/airplane-boneyard-tucson-arizona-google-earth.jpg', 'Amazing'), ('2. Mysterious Desert Pattern', 'Egypt', '27.380555555555556', ' 33.63166666666667', 'https://twistedsifter.com/wp-content/uploads/2014/02/crop-circle-egypt-google-earth-strange.jpg', 'Amazing'), ('3. Swastika-Shaped Building Complex', 'USA', '32.67611111111111', ' -117.1575', 'https://twistedsifter.com/wp-content/uploads/2014/02/swastika-shaped-building-coronado-california-google-earth-maps.jpg', 'Amazing'), ('4. Buffalo Herd', 'Tanzania', '-4.289166666666667', ' 31.39611111111111', 'https://twistedsifter.com/wp-content/uploads/2014/02/buffalo-herd-google-earth.jpg', 'Amazing'), ('5. Giant Triangle', 'USA', '33.747252', ' -112.633853', 'https://twistedsifter.com/wp-content/uploads/2014/02/giant-triangle-google-earth.jpg', 'Amazing'), ('6. Shipwrecked SS Ayrfield with Trees', 'Australia', '-33.836379', ' 151.080506', 'https://twistedsifter.com/wp-content/uploads/2014/02/shipwreck-forest-google-earth.jpg', 'Amazing'), ('7. The Badlands Guardian', 'Canada', '50.010555555555555', ' -110.11333333333333', 'https://twistedsifter.com/wp-content/uploads/2014/02/side-profile-of-a-face-google-earth.jpg', 'Amazing'), ('8. Parking Lot for Fighter Jets', 'USA', '33.927911', ' -118.38069', 'https://twistedsifter.com/wp-content/uploads/2014/02/el-segundo-airplanes-parking-lot.jpg', 'Amazing')  ... displaying 10 of 50 total bound parameter sets ...  ('49. Grand Prismatic Spring', 'USA', '44.525049', ' -110.83819', 'https://twistedsifter.com/wp-content/uploads/2014/02/grand-prismatic-spring-yellowstone-natonal-park-on-google-earth.jpg', 'Amazing'), ('50. Batman Symbol', 'Japan', '26.357896', ' 127.783809', 'https://twistedsifter.com/wp-content/uploads/2014/02/batman-symbol-google-earth.jpg', 'Amazing'))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)